h1=title

form(action='newtask', method='post')
  h2 task name
  input(type='text', name='taskname')

  h2 max number of tickets
  input(type='text', name='max')

  h2 date
  input(type='text', name='date')

  h2 Number of MileStone
  input(type='text', name='ms')

  br
  input(type='submit', name='newtask')

